In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np 
from datetime import datetime

In [4]:
# pip install pandas==1.4

In [5]:
# Chuẩn bị thư viện
import psycopg2 as pg
import plyer
import pandas.io.sql as psql
from sqlalchemy import create_engine
import psycopg2.extras as extras

In [16]:
gold_data = pd.read_csv('d:/thuantt2/Document/Big_data_project/data/gold_data202411.csv')
gold_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2022-01-03,1830.099976,1830.099976,1798.800049,1799.400024,1799.400024,116
1,2022-01-04,1800.500000,1815.300049,1800.000000,1814.000000,1814.000000,38
2,2022-01-05,1813.099976,1824.599976,1813.099976,1824.599976,1824.599976,8
3,2022-01-06,1787.099976,1791.300049,1787.099976,1788.699951,1788.699951,30
4,2022-01-07,1791.800049,1797.000000,1784.400024,1797.000000,1797.000000,17

In [17]:
gold_data.Date = pd.to_datetime(gold_data.Date)

In [18]:
gold_data['symbol'] = 'GC=F'

In [19]:
gold_data.symbol.unique()

array(['GC=F'], dtype=object)

In [8]:
gold_data.query('Open != High')

,Date,Open,High,Low,Close,Adj Close,Volume,symbol
1,2022-01-04,1800.500000,1815.300049,1800.000000,1814.000000,1814.000000,38,GC=F
2,2022-01-05,1813.099976,1824.599976,1813.099976,1824.599976,1824.599976,8,GC=F
3,2022-01-06,1787.099976,1791.300049,1787.099976,1788.699951,1788.699951,30,GC=F
4,2022-01-07,1791.800049,1797.000000,1784.400024,1797.000000,1797.000000,17,GC=F
5,2022-01-10,1794.900024,1798.699951,1790.400024,1798.400024,1798.400024,534,GC=F
...,...,...,...,...,...,...,...,...
713,2024-11-04,2736.500000,2737.100098,2736.100098,2736.100098,2736.100098,16,GC=F
714,2024-11-05,2743.000000,2743.899902,2740.300049,2740.300049,2740.300049,23,GC=F
716,2024-11-07,2662.500000,2699.100098,2662.500000,2698.399902,2698.399902,676,GC=F
717,2024-11-08,2688.500000,2694.600098,2682.899902,2687.500000,2687.500000,1038,GC=F
719,2024-11-12,2625.699951,2633.399902,2601.699951,2603.000000,2603.000000,61912,GC=F

- Số tổng của các metrics, có thể hiện mức tăng/giảm so với ngày hôm trước (Có thể so sánh với cùng kì trước -> book mark)
- Line chart: thể hiện biến động giá của các đồng tiền -> có thể filter theo giá Open, giá High hoặc giá Close/Adj Close
- Line chart thể hiện tỷ lệ biến động qua từng ngày
- Chart thể hiện biến động của volumn
- 1 bảng detail show ở dưới cùng

In [17]:
# Bảng dim date

In [20]:
dim_date = gold_data[['Date']]

In [21]:
dim_date.drop_duplicates(inplace=True)

In [22]:
dim_date.Date = pd.to_datetime(dim_date.Date)

In [23]:
dim_date.Date.dtype

dtype('<M8[ns]')

In [24]:
dim_date.rename(columns={'Date': 'date'}, inplace=True)

In [25]:
dim_date['week'] = dim_date.date.dt.weekofyear

In [26]:
dim_date.week = dim_date.week.apply(lambda x: 'Week_' + str(x))

In [27]:
dim_date['month'] = dim_date.date.apply(lambda x: str(x)[:7])

In [28]:
dim_date['quarter'] = dim_date.date.dt.quarter

In [29]:
dim_date.quarter = dim_date.quarter.apply(lambda x: 'Q' + str(x))

In [30]:
dim_date['year'] = dim_date.date.dt.year

In [31]:
dim_date.year = dim_date.year.astype('str')

In [32]:

dim_date

          date     week    month quarter  year
0   2022-01-03   Week_1  2022-01      Q1  2022
1   2022-01-04   Week_1  2022-01      Q1  2022
2   2022-01-05   Week_1  2022-01      Q1  2022
3   2022-01-06   Week_1  2022-01      Q1  2022
4   2022-01-07   Week_1  2022-01      Q1  2022
..         ...      ...      ...     ...   ...
715 2024-11-06  Week_45  2024-11      Q4  2024
716 2024-11-07  Week_45  2024-11      Q4  2024
717 2024-11-08  Week_45  2024-11      Q4  2024
718 2024-11-11  Week_46  2024-11      Q4  2024
719 2024-11-12  Week_46  2024-11      Q4  2024

[720 rows x 5 columns]

In [33]:
# Kết nối cơ sở dữ liệu
conn = pg.connect(
            database="postgres", 
            user = "postgres",
            password = "123456", 
            host = "localhost", 
            port = 5432,
            sslmode='disable',
            gssencmode='disable')
print(conn)

<connection object at 0x00000141E8C0E150; dsn: 'user=postgres password=xxx dbname=postgres host=localhost port=5432 sslmode=disable gssencmode=disable', closed: 0>

In [34]:
# # Tạo bảng postgresql+psycopg2://user:password@host/database
engine = create_engine("postgresql+psycopg2://postgres:123456@localhost:5432/postgres")
print(engine)

Engine(postgresql+psycopg2://postgres:***@localhost:5432/postgres)

In [35]:
# Đưa dữ liệu vào databse
dim_date.to_sql(name="dim_date", con=engine, index=False, if_exists='replace')

720

In [18]:
# Bảng dim symbol

In [36]:
dim_symbol = gold_data[['symbol']]
dim_symbol.drop_duplicates(inplace=True)

In [37]:
dict_name = {'GC=F': 'Gold'}

In [38]:
dim_symbol['symbol_name'] = dim_symbol.symbol.map(dict_name)

In [39]:
dim_symbol.to_sql(name="dim_symbol", con=engine, if_exists = "replace", index = False)

1

In [40]:
# Bảng fact

In [41]:
li_cols = [i.lower() for i in gold_data.columns]
li_cols

['date', 'open', 'high', 'low', 'close', 'adj close', 'volume', 'symbol']

In [42]:
gold_data.columns = li_cols

In [43]:
gold_data.rename(columns={'adj close':'adj_close'}, inplace=True)

In [44]:
gold_data

,date,open,high,low,close,adj_close,volume,symbol
0,2022-01-03,1830.099976,1830.099976,1798.800049,1799.400024,1799.400024,116,GC=F
1,2022-01-04,1800.500000,1815.300049,1800.000000,1814.000000,1814.000000,38,GC=F
2,2022-01-05,1813.099976,1824.599976,1813.099976,1824.599976,1824.599976,8,GC=F
3,2022-01-06,1787.099976,1791.300049,1787.099976,1788.699951,1788.699951,30,GC=F
4,2022-01-07,1791.800049,1797.000000,1784.400024,1797.000000,1797.000000,17,GC=F
...,...,...,...,...,...,...,...,...
715,2024-11-06,2734.500000,2734.500000,2659.399902,2667.600098,2667.600098,427,GC=F
716,2024-11-07,2662.500000,2699.100098,2662.500000,2698.399902,2698.399902,676,GC=F
717,2024-11-08,2688.500000,2694.600098,2682.899902,2687.500000,2687.500000,1038,GC=F
718,2024-11-11,2671.699951,2671.699951,2611.199951,2611.199951,2611.199951,1038,GC=F
719,2024-11-12,2625.699951,2633.399902,2601.699951,2603.000000,2603.000000,61912,GC=F

In [45]:
gold_data.date = pd.to_datetime(gold_data.date)

In [46]:
gold_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       720 non-null    datetime64[ns]
 1   open       720 non-null    float64
 2   high       720 non-null    float64
 3   low        720 non-null    float64
 4   close      720 non-null    float64
 5   adj_close  720 non-null    float64
 6   volume     720 non-null    int64
 7   symbol     720 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 45.1+ KB

In [47]:
gold_data.to_sql(name="fact_gold_data", con=engine, if_exists = "replace", index = False)

720