In [2]:
import warnings
warnings.filterwarnings('ignore')

In [1]:
import pandas as pd
import numpy as np 
from datetime import datetime

In [6]:
pip install plyer

Collecting plyer
  Using cached plyer-2.1.0-py2.py3-none-any.whl (142 kB)
Installing collected packages: plyer
Successfully installed plyer-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
# Chuẩn bị thư viện
import psycopg2 as pg
import plyer
import pandas.io.sql as psql
from sqlalchemy import create_engine
import psycopg2.extras as extras

In [9]:
gold_data = pd.read_csv('gold_data.csv')
gold_data.head()

,Date,symbol,Open,High,Low,Close,Adj Close,Volume
0,2000-08-30,GC=F,273.899994,273.899994,273.899994,273.899994,273.899994,0
1,2000-08-31,GC=F,274.799988,278.299988,274.799988,278.299988,278.299988,0
2,2000-09-01,GC=F,277.000000,277.000000,277.000000,277.000000,277.000000,0
3,2000-09-05,GC=F,275.799988,275.799988,275.799988,275.799988,275.799988,2
4,2000-09-06,GC=F,274.200012,274.200012,274.200012,274.200012,274.200012,0

In [5]:
gold_data.symbol.unique()

array(['GC=F'], dtype=object)

In [6]:
gold_data.query('Open != High')

,Date,symbol,Open,High,Low,Close,Adj Close,Volume
1,2000-08-31,GC=F,274.799988,278.299988,274.799988,278.299988,278.299988,0
22,2000-10-02,GC=F,272.799988,273.500000,272.500000,273.100006,273.100006,161
23,2000-10-03,GC=F,272.100006,272.799988,271.500000,271.600006,271.600006,25
24,2000-10-04,GC=F,270.500000,271.000000,270.100006,270.299988,270.299988,11
25,2000-10-05,GC=F,270.299988,270.600006,270.000000,270.600006,270.600006,6
...,...,...,...,...,...,...,...,...
6018,2024-08-26,GC=F,2509.899902,2523.100098,2509.100098,2517.699951,2517.699951,290
6019,2024-08-27,GC=F,2515.199951,2523.100098,2506.899902,2516.000000,2516.000000,100
6021,2024-08-29,GC=F,2504.100098,2525.699951,2503.899902,2525.699951,2525.699951,3966
6022,2024-08-30,GC=F,2519.500000,2525.399902,2493.800049,2493.800049,2493.800049,3966
6023,2024-09-02,GC=F,2536.000000,2537.199951,2522.100098,2529.800049,2529.800049,26916

- Số tổng của các metrics, có thể hiện mức tăng/giảm so với ngày hôm trước (Có thể so sánh với cùng kì trước -> book mark)
- Line chart: thể hiện biến động giá của các đồng tiền -> có thể filter theo giá Open, giá High hoặc giá Close/Adj Close
- Line chart thể hiện tỷ lệ biến động qua từng ngày
- Chart thể hiện biến động của volumn
- 1 bảng detail show ở dưới cùng

In [17]:
# Bảng dim date

In [10]:
dim_date = gold_data[['Date']]

In [11]:
dim_date.drop_duplicates(inplace=True)

In [12]:
dim_date.Date = pd.to_datetime(dim_date.Date)

In [13]:
dim_date.Date.dtype

dtype('<M8[ns]')

In [14]:
dim_date.rename(columns={'Date': 'date'}, inplace=True)

In [15]:
dim_date['week'] = dim_date.date.dt.weekofyear

In [16]:
dim_date.week = dim_date.week.apply(lambda x: 'Week_' + str(x))

In [17]:
dim_date['month'] = dim_date.date.apply(lambda x: str(x)[:7])

In [18]:
dim_date['quarter'] = dim_date.date.dt.quarter

In [19]:
dim_date.quarter = dim_date.quarter.apply(lambda x: 'Q' + str(x))

In [20]:
dim_date['year'] = dim_date.date.dt.year

In [21]:
dim_date.year = dim_date.year.astype('str')

In [22]:
dim_date

           date     week    month quarter  year
0    2000-08-30  Week_35  2000-08      Q3  2000
1    2000-08-31  Week_35  2000-08      Q3  2000
2    2000-09-01  Week_35  2000-09      Q3  2000
3    2000-09-05  Week_36  2000-09      Q3  2000
4    2000-09-06  Week_36  2000-09      Q3  2000
...         ...      ...      ...     ...   ...
6019 2024-08-27  Week_35  2024-08      Q3  2024
6020 2024-08-28  Week_35  2024-08      Q3  2024
6021 2024-08-29  Week_35  2024-08      Q3  2024
6022 2024-08-30  Week_35  2024-08      Q3  2024
6023 2024-09-02  Week_36  2024-09      Q3  2024

[6024 rows x 5 columns]

In [33]:
# Kết nối cơ sở dữ liệu
conn = pg.connect(
            database="Gold", 
            user = "postgres", 
            password = "khdlproject123", 
            host = "localhost", 
            port = 5433,
            sslmode='disable',
            gssencmode='disable')
print(conn)

<connection object at 0x00000184EEA96590; dsn: 'user=postgres password=xxx dbname=Gold host=localhost port=5433 sslmode=disable gssencmode=disable', closed: 0>

In [40]:
# # Tạo bảng postgresql+psycopg2://user:password@host/database
engine = create_engine("postgresql+psycopg2://postgres:khdlproject123@localhost:5433/Gold")
print(engine)

Engine(postgresql+psycopg2://postgres:***@localhost:5433/Gold)

In [42]:
# Đưa dữ liệu vào databse
dim_date.to_sql(name="dim_date", con=engine, if_exists = "replace", index = False)

24

In [18]:
# Bảng dim symbol

In [43]:
dim_symbol = gold_data[['symbol']]
dim_symbol.drop_duplicates(inplace=True)

In [46]:
dict_name = {'GC=F': 'Gold'}

In [47]:
dim_symbol['symbol_name'] = dim_symbol.symbol.map(dict_name)

In [51]:
dim_symbol.to_sql(name="dim_symbol", con=engine, if_exists = "replace", index = False)

1

In [65]:
# Bảng fact

In [57]:
li_cols = [i.lower() for i in gold_data.columns]
li_cols

['date', 'symbol', 'open', 'high', 'low', 'close', 'adj close', 'volume']

In [60]:
gold_data.columns = li_cols

In [61]:
gold_data.rename(columns={'adj close':'adj_close'}, inplace=True)

In [62]:
gold_data

,date,symbol,open,high,low,close,adj_close,volume
0,2000-08-30,GC=F,273.899994,273.899994,273.899994,273.899994,273.899994,0
1,2000-08-31,GC=F,274.799988,278.299988,274.799988,278.299988,278.299988,0
2,2000-09-01,GC=F,277.000000,277.000000,277.000000,277.000000,277.000000,0
3,2000-09-05,GC=F,275.799988,275.799988,275.799988,275.799988,275.799988,2
4,2000-09-06,GC=F,274.200012,274.200012,274.200012,274.200012,274.200012,0
...,...,...,...,...,...,...,...,...
6019,2024-08-27,GC=F,2515.199951,2523.100098,2506.899902,2516.000000,2516.000000,100
6020,2024-08-28,GC=F,2501.000000,2501.000000,2501.000000,2501.000000,2501.000000,2353
6021,2024-08-29,GC=F,2504.100098,2525.699951,2503.899902,2525.699951,2525.699951,3966
6022,2024-08-30,GC=F,2519.500000,2525.399902,2493.800049,2493.800049,2493.800049,3966
6023,2024-09-02,GC=F,2536.000000,2537.199951,2522.100098,2529.800049,2529.800049,26916

In [66]:
gold_data.date = pd.to_datetime(gold_data.date)

In [68]:
gold_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6024 entries, 0 to 6023
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       6024 non-null   datetime64[ns]
 1   symbol     6024 non-null   object
 2   open       6024 non-null   float64
 3   high       6024 non-null   float64
 4   low        6024 non-null   float64
 5   close      6024 non-null   float64
 6   adj_close  6024 non-null   float64
 7   volume     6024 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 376.6+ KB

In [69]:
gold_data.to_sql(name="fact_gold_data", con=engine, if_exists = "replace", index = False)

24